.about {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  @include flex(row, space-around, center);
  overflow: hidden;
}
.about_wrapper {
  @include flex(row, space-around, center);
  flex-wrap: wrap;
}

.about__text {
  margin-bottom: 1rem;
  flex: 2 1 40rem;
  align-self: flex-start;
}
.about__text h3 {
  margin-bottom: 2rem;
}
.about__text p {
  padding-right: 2rem;
  width: 100%;
  margin-bottom: 1rem;
}
.about__img {
  flex: 1 1 40rem;
}

.about__img img {
  width: 100%;
}

@media screen and (max-width: 525px) {
  .about {
    margin-top: 3rem;
  }
}
