.gallery {
  min-height: 100vh;
  width: 90%;
  margin: auto;
  margin-bottom: 1rem;
}
.gallery__header {
  min-height: 10vh;
  margin: 3rem 0;
}
.gallery__header h3 {
  text-transform: uppercase;
  text-shadow: 3px 3px 5px rgba($color: #000000, $alpha: 0.3);
}
.gallery__body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5px;
}

.gallery__body img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
